<form action="/prove01/submit" method="POST">
    Name: <input type="text" name="person"><br>
    Reason for contact: <input type="text" name="reason"><br>
    <button type="submit"></button><br>
</form>